body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255, 0, 0, 0.878);
}
.headline{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.headline h1{
    min-width: 360px;
    background-color: #57ffff;
    font-size: 50px;
    width: 50%;
    border: 1px solid blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 50px;
    text-align: center;
    color: #F08030;
    text-shadow: rgb(55, 66, 247) 3px 0px 0px, rgb(55, 66, 247) 2.83487px 0.981584px 0px, rgb(55, 66, 247) 2.35766px 1.85511px 0px, rgb(55, 66, 247) 1.62091px 2.52441px 0px, rgb(55, 66, 247) 0.705713px 2.91581px 0px, rgb(55, 66, 247) -0.287171px 2.98622px 0px, rgb(55, 66, 247) -1.24844px 2.72789px 0px, rgb(55, 66, 247) -2.07227px 2.16926px 0px, rgb(55, 66, 247) -2.66798px 1.37182px 0px, rgb(55, 66, 247) -2.96998px 0.42336px 0px, rgb(55, 66, 247) -2.94502px -0.571704px 0px, rgb(55, 66, 247) -2.59586px -1.50383px 0px, rgb(55, 66, 247) -1.96093px -2.27041px 0px, rgb(55, 66, 247) -1.11013px -2.78704px 0px, rgb(55, 66, 247) -0.137119px -2.99686px 0px, rgb(55, 66, 247) 0.850987px -2.87677px 0px, rgb(55, 66, 247) 1.74541px -2.43999px 0px, rgb(55, 66, 247) 2.44769px -1.73459px 0px, rgb(55, 66, 247) 2.88051px -0.838247px 0px;
}
.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeCard {
    position: fixed;
    background-color: rgb(255, 0, 0);
    border: 1px solid grey;
    border-radius: 40px;
    min-width: 350px;
    min-height: 90%;
    z-index: 4;
}

.pokeCard::before {
    position: absolute;
    background-image: url(img/pokeball.png);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: bottom 1px right 10px;
    max-height: 90%;
    max-width: 350px;
    height: 200px;
    width: 200px;
    opacity: 0.1;
    content: '';
    z-index: 1;
    margin-left: 190px;
    margin-top: 120px;
}

.pokeCardInfo {
    display: block;
    min-height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Open Sans', sans-serif
}

.pokeCardType {
    background-color: rgba(187, 255, 253, 0.716);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: px;
    z-index: 2 !important;

}

.pokeCardOpacity {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 3;

}
.numbersmall{
    height: 20px;
    margin-left: 9px;
    margin-top: 23px;
}
.ArrowCardDiv{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.switchCard{
    display: flex;
    align-items: center;
    justify-content: center;
}
.previous{
    height: 100px;
    width: 150px;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 520px;
}
.next{
    height: 100px;
    width: 150px;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 520px;
}

.infoContainer {
    display: block;
    background-color: white;
    height: 50vh;
    border-radius: 40px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    z-index: 2;
}

.pokemonImageDiv {
    display: flex;
    justify-content: center;
}

.pokemonImageDiv img {
    margin-top: -230px;
    height: 280px;
    z-index: 2;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.tabs a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}



.tdAbout1 {
    padding-inline-end: 25px;
    min-width: 110px;
}

.tdAbout2 {
    padding-inline-start: 25px;
}

.aboutTable {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

tr {
    height: 26px;
}

td {
    width: 40%;
}

.moves {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tableDiv {
    padding: 5px;
    height: 21px;
}

.arrowHeart {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    height: 30px;
}

.arrow svg {
    height: 40px;
    width: 40px;
    fill: white;
}

.heart svg {
    height: 40px;
    width: 40px;
    fill: white;
}

.number {
    font-size: 20px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.d-none {
    display: none;
}

.inputButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.pokemonList {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: center;

}

.pokemonID {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    margin: 5px;
    padding-top: 20px;
    box-shadow: 5px 3px 3px rgb(86, 85, 85);
    height: 125px;
}

.pokemonID:hover {
    transition-timing-function: ease-in-out 125ms;
    border: 3px solid rgba(132, 131, 131, 0);
    box-shadow: 5px 3px 3px rgb(86, 85, 85);
}

.pokemonID::before {
    position: absolute;
    background-image: url("img/pokeball.png");
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: bottom 1px right 10px;
    height: 110px;
    width: 144px;
    opacity: 0.1;
    content: '';
}

.close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.heart {
    cursor: pointer;
}

.pokeimg {
    z-index: 2;
    height: 90px;
    width: 90px;
    padding: 5px;
}

.pokeball {
    opacity: 0.3;
    z-index: 1;
    height: 50px;
    width: 50px;

}

.d-flex {
    display: flex;
    justify-content: space-evenly;
}

.type {
    background-color: rgba(187, 255, 253, 0.716);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 30px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 5px;
    z-index: 2 !important;
    font-size: 15px;
}

.mt10 {
    margin-top: 10px;
}

.d-flex {
    display: flex;
}

.center {
    align-items: center;
}

.sp-btw {
    justify-content: space-between;

}
.pokedexAll{
    padding-top: 50px;
}
.inputPokemon{

}
.css-input {
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 9px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.css-input:focus {
    outline:none;
}
.original-button {
    margin-left: 20px;
    cursor: pointer;
    background-color: #57ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  .original-button:hover {
    transform: translateY(2px);
    box-shadow: 0 0 rgba(0, 0, 0, 0);
  }

/* Background Color by type */
.grass {
    background-color: #58ebc1;
}

.grass-light {
    background-color: #a3f6de;
}

.fire {
    background-color: #F08030;
}

.fire-light {
    background-color: #fdb079;
}

.water {
    background-color: #6890F0;
}

.water-light {
    background-color: #a5bdf7;
}

.bug {
    background-color: #A8B820;
}

.bug-light {
    background-color: #d8e27f;
}

.normal {
    background-color: #A8A878;
}

.normal-light {
    background-color: #cdcdbd;
}

.poison {
    background-color: #A040A0;
}

.poison-light {
    background-color: #cb98cb;
}

.electric {
    background-color: #F8D030;
}

.electric-light {
    background-color: #ebdca2;
}

.ground {
    background-color: #E0C068;
}

.ground-light {
    background-color: #e2d9be;
}

.fairy {
    background-color: #F0B6BC;
}

.fairy-light {
    background-color: #ebdcde;
}

.flying {
    background-color: #A890F0;
}

.flying-light {
    background-color: #c9bfe8;
}

.fighting {
    background-color: #C03028;
}

.fightning-light {
    background-color: #d38c89;
}

.psychic {
    background-color: #F85888;
}

.psychic-light {
    background-color: #f9abc2;
}

.rock {
    background-color: #B8A038;
}

.rock-light {
    background-color: #dad0a4;
}

.ghost {
    background-color: #705898;
}

.ghost-light {
    background-color: #bdb9c4;
}

.ice {
    background-color: #57ffff;
}

.ice-light {
    background-color: #dcdcdc;
}

.dragon {
    background-color: #7038F8;
}

.dragon-light {
    background-color: #b293fa;
}

.dark {
    background-color: #705848;
}

.dark-light {
    background-color: #c39c82;
}

.steel {
    background-color: #B8B8D0;
}

.steel-light {
    background-color: #e9f7ff;
}

/*END Background Color by type */