body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeCard {
    background-color: rgb(255, 0, 0);
    border: 1px solid grey;
    border-radius: 40px;
    min-width: 350px;
    min-height: 90%;
}

.pokeCardInfo {
    display: block;
    min-height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Open Sans', sans-serif
}

.infoContainer {
    display: block;
    background-color: white;
    height: 50vh;

    border-radius: 40px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.pokemonImageDiv {
    display: flex;
    justify-content: center;
}

.pokemonImageDiv img {
    margin-top: -120px;
    height: 200px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.aboutDiv {
    margin-left: 40px;
}

.tdAbout1 {
    width: 100px;
}

tr {
    height: 26px;
}

td {
    width: 40%;
}

.arrowHeart {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    height: 30px;
}

.arrow svg {
    height: 40px;
    width: 40px;
    fill: white;
}

.heart svg {
    height: 40px;
    width: 40px;
    fill: white;
}

.d-none {
    display: none;
}
.inputButtonDiv{
    display: flex;
    justify-content: center;
}
.pokemonList {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: center;

}

.pokemonID {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    border: 1px solid grey;
    margin: 5px;
    padding-top: 20px;
}
.pokemonID::before{
    position: absolute;
    background-image: url("img/pokeball.png");
    background-size: 56px ;
    background-repeat: no-repeat;
    background-position: bottom 1px right 10px;
    height: 110px;
    width: 120px;
    opacity: 0.1;
    content:'';
}

.close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.heart {
    cursor: pointer;
}

.pokeimg {
    z-index: 2;
    height: 90px;
    width: 90px;
    padding: 5px;
}

.pokeball {
    opacity: 0.3;
    z-index: 1;
    height: 50px;
    width: 50px;

}

.d-flex {
    display: flex;
    justify-content: space-evenly;
}

.type {
    background-color: rgba(187, 255, 253, 0.716);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 5px;
    z-index: 2 !important;
}

.mt10 {
    margin-top: 10px;
}

/* Background Color by type */
.grass {
    background-color: #58ebc1;
}

.grass-light {
    background-color: #a3f6de;
}

.fire {
    background-color: #F08030;
}

.fire-light {
    background-color: #fdb079;
}

.water {
    background-color: #6890F0;
}

.water-light {
    background-color: #a5bdf7;
}

.bug {
    background-color: #A8B820;
}

.bug-light {
    background-color: #d8e27f;
}

.normal {
    background-color: #A8A878;
}

.normal-light {
    background-color: #cdcdbd;
}

.poison {
    background-color: #A040A0;
}

.poison-light {
    background-color: #cb98cb;
}

.electric {
    background-color: #F8D030;
}

.electric-light {
    background-color: #ebdca2;
}

.ground {
    background-color: #E0C068;
}

.ground-light {
    background-color: #e2d9be;
}

.fairy {
    background-color: #F0B6BC;
}

.fairy-light {
    background-color: #ebdcde;
}

.flying {
    background-color: #A890F0;
}

.flying-light {
    background-color: #c9bfe8;
}

.fightning {
    background-color: #C03028;
}

.fightning-light {
    background-color: #d38c89;
}

.psychic {
    background-color: #F85888;
}

.psychic-light {
    background-color: #f9abc2;
}

.rock {
    background-color: #B8A038;
}

.rock-light {
    background-color: #dad0a4;
}

.ghost {
    background-color: #705898;
}

.ghost-light {
    background-color: #bdb9c4;
}

.ice {
    background-color: #57ffff;
}

.ice-light {
    background-color: #dcdcdc;
}

.dragon {
    background-color: #7038F8;
}

.dragon-light {
    background-color: #b293fa;
}

.dark {
    background-color: #705848;
}

.dark-light {
    background-color: #c39c82;
}

.steel {
    background-color: #B8B8D0;
}

.steel-light {
    background-color: #e9f7ff;
}

/*END Background Color by type */